<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>

	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<p>
								Lorem ipsum bibendum iaculis ornare tempus odio consequat dolor mi semper tellus risus amet non mollis aliquet, sed imperdiet cursus morbi venenatis rhoncus in eros neque nibh ipsum turpis senectus etiam laoreet. 
								condimentum venenatis convallis curabitur aliquet vitae, magna auctor class odio luctus, etiam taciti molestie mollis. 
								sollicitudin quisque ac arcu auctor imperdiet non sit, magna praesent nisl proin euismod in justo, sit ad orci rhoncus donec libero. 
								inceptos senectus vestibulum posuere curabitur quam in congue suscipit phasellus, sem arcu id enim egestas aliquam maecenas eget taciti, elementum lorem malesuada laoreet aptent at eu curabitur. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
	
</body>
</html>